APScheduler==3.10.4
bcrypt==4.2.0
blinker==1.8.2
certifi==2024.7.4
click==8.1.7
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kafka-python==2.0.2
MarkupSafe==2.1.5
numpy==1.26.0
pandas==2.2.2
py4j==0.10.9.7
pyarrow==17.0.0
PyJWT==2.8.0
pymongo==4.8.0
pyparsing==3.1.2
pyspark==3.5.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
scikit-learn==1.5.1
scipy==1.14.0
setuptools==72.1.0
six==1.16.0
sklearn-preprocessing==0.1.0
threadpoolctl==3.5.0
tzdata==2024.1
tzlocal==5.2
Werkzeug==3.0.3
wheel==0.43.0
