.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #343a40; /* Dark grey background */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-bar a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.menu-bar a:hover {
  color: #007bff; /* Primary color on hover */
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-section {
  display: flex;
  align-items: center;
}

.auth-button, .logout-button {
  background-color: #007bff; /* Primary color background */
  color: white;
  border: none;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover, .logout-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.welcome-message {
  margin-right: 10px;
}
